{% extends "main.html" %}
{% block content %}
    {% with message = get_flashed_messages() %}
        {% if message %}
            <strong> {{ message }} </strong>
        {% endif %}
    {% endwith %}

    <div class="container card">
        <h3 class="font-weight-bold deep-orange-lighter-hover mb-3">Edit Item</h3>
        <form action="{{url_for('editSubItem', category_id = category_id ,subitem_id = item.id )}}"  method = 'POST'>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label"> Name </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" size="30"  name = 'name' placeholder = '{{item.name}}'>
                    </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label"> Description </label>
                    <div class="col-sm-10">
                        <textarea maxlength="250" rows="3"  class="form-control" name="description" placeholder="{{item.description}}"></textarea>
                    </div>
            </div>
            <span ></span>
            <input class="btn btn-info btn-rounded waves-effect" type='submit'  value='Edit'>
                <button class="btn btn-warning btn-rounded waves-effect">
                            <a href="{{url_for('showCategories')}}" style="text-decoration:none ; color: antiquewhite;">
                <span class="glyphicon glyphicon-trash"></span>  Cancel</a>
                </button>
        </form>
    </div>
    </br>
{% endblock %}
