{% extends "main.html" %}
{% block content %}
    {% with message = get_flashed_messages() %}
        {% if message %}
            <strong> {{ message }} </strong>
        {% endif %}
    {% endwith %}

    <div class="container card">
        <h3 class="font-weight-bold deep-orange-lighter-hover mb-3">Edit Category</h3>
        <form action="{{url_for('editCategory', category_id = category_id )}}"  method = 'POST'>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label"> Name </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" size="30"  name = 'name' placeholder = '{{categoryName}}'>
                    </div>
            </div>
            <span ></span>
            <input class="btn btn-info btn-rounded waves-effect" type='submit'  value='Edit'>
                <button class="btn btn-warning btn-rounded waves-effect">
                            <a href="{{url_for('showCategories')}}" style="text-decoration:none ; color: antiquewhite;">
                <span class="glyphicon glyphicon-trash"></span>  Cancel</a>
                </button>
        </form>
    </div>
    </br>
{% endblock %}
