{% extends "main.html" %}
{% block content %}
	<div class="container card">
                <h3 class="font-weight-bold deep-orange-lighter-hover mb-3">New Category</h3>
                <form action="{{url_for('newCategory')}}" method = 'POST'>
                        <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label"> Name </label>
                                <div class="col-sm-10">
                                        <input type="text" class="form-control" size="30" maxlength="100" name="name">
                                </div>
                         </div>
                        <button type='submit' value='submit' class="btn btn-success btn-rounded waves-effect"> Create </button>

                        <button class="btn btn-warning btn-rounded waves-effect">
                                <a href= "{{url_for('showCategories')}}"style="text-decoration:none ; color: antiquewhite;"> Cancel
                                </a>
                        </button>
                </form>
                </div>
                </br>
        </div>
{% endblock %}
