{% extends "main.html" %}
{% block content %}

    {% with message = get_flashed_messages() %}
        {% if message %}
            <strong> {{ message }} </strong>
        {% endif %}
    {% endwith %}

    <div class="container-fluid text-left">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <h4>Categories</h4>
                <ul class="nav nav-pills nav-stacked">
                    {% for c in categories %}
                        <li>
                            <a href = "{{url_for('showItem',category_id = c.id)}}" >{{c.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        <div  class="col-sm-8 text-left">
            {% if count != 0 %}
                <h2>{{categoryName.name}} items ( {{count}} items)</h2>
                <ul class="nav nav-pills nav-stacked">
                {% for i in items %}
                    <li>
                        <a href="{{url_for('showAboutItem',category_id = categoryName.id ,item_id = i.id)}}"> {{i.name}} </a>
                    </li>
                {% endfor %}
            {% else %}
                <h2>{{categoryName.name}} items </h2> </span>
                <ul class="nav nav-pills nav-stacked">
                    <li>Currently there are no items in this category</li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
